# 配置
# 注：本程序只做了一个简易的资源链接缓存，没有对m3u8资源做深度缓存处理，如果需要高级的资源缓存，使用其他json轮询缓存程序调用此接口即可

port: 8081 # 项目运行端口
headless:  false # true 不弹出浏览器 false 弹窗浏览器
hc: true # true 开启缓存 false 关闭缓存
hc_time: 300 # 缓存保存时间 单位：秒
xt_time: 300 # 嗅探超时时间 单位：秒
xc_max: 3 # 最多打开几个浏览器
xc_out: 1 # 请求链接时超出浏览器数量的操作，1 返回解析失败 2 等待
proxy:  # 默认代理，不填就不同代理，填了就是默认代理，如果需要动态代理，请在访问接口时添加参数 proxy 如：http://127.0.0.1:8081/xt?proxy=112.30.155.83:12792&url=
proxy_api:  # 代理api，访问api应该返回一个 ip text类型
is_log_local: true # 是否将日志输出到本地，文件名 log.txt
is_log_url: true # 是否打印被嗅探网站的请求链接

parse:  # 嗅探规则，特殊资源特殊对待
  - name: "西瓜视频" # 名称
    match: # 资源特征
      - "ixigua.com"
    click: # 点击此元素（使用css选择器）
      - "video" # 点击video标签
    white: # 资源链接特征 白名单
      - "media-video-avc1"
      - ".mp4"
      - ".m3u8"
      - ".flv"
    black: # 资源链接特征 黑名单
      - "gg.mp4"
    headers:

  - name: "测试header" # 名称
    match: # 资源特征
      - "jx.m3u8zy.top"
    click: # 点击此元素（使用css选择器）
    white: # 资源链接特征 白名单
    black: # 资源链接特征 黑名单
    headers:
      token: 123
      referer: https://nkvod.com